/**
 * Legend =============================================================
 */
.openlayers-legends {
  position:absolute;
  left:5px;
  bottom:5px;
  z-index:3000;
  }

.openlayers-legends .legend {
  background:#fff;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.openlayers-legends .swatch {
  float:left;
  display:block;
  width:15px;
  height:15px;
  margin-right:5px;
  }

/**
 * Blockswitcher ======================================================
 */
.openlayers-blockswitcher span.key {
  display:block;
  float:left;
  height:20px;
  width:20px;
  margin-right:5px;
  }

.openlayers-blockswitcher input.form-radio,
.openlayers-blockswitcher input.form-checkbox { margin-right:5px; }

div.map {
  position:relative;
  }

div.map #block-openlayers_plus-blockswitcher {
  position:absolute;
  z-index:3000;
  background:#fff;
  width:200px;
  }

div.map #block-openlayers_plus-blockswitcher h2.block-title { cursor:pointer; }
div.map #block-openlayers_plus-blockswitcher div.block-content { display:none; }

div.map #block-openlayers_plus-blockswitcher h2.layers-title { 
  padding:2px 5px;
  }

div.map #block-openlayers_plus-blockswitcher div.radio {
  background: transparent url('inactive.png') 0px 0px no-repeat;
  padding: 3px 0px 3px 25px;
  min-height:20px; /*IE7*/
  }

div.map #block-openlayers_plus-blockswitcher div.activated {
  background: transparent url('active.png') 0px 0px no-repeat;
  padding: 3px 0px 3px 25px;
  min-height:20px; /*IE7*/
  }
